
h2 {color: rgb(128, 0, 196);
/* background-color: yellow; */
text-align: center;
border: 5px solid red;
}

h4 {color: #d39e62;}

blockquote {
    text-align: justify;
}

/* 定义整体 */
body {
    background-attachment: fixed;
    background-color: white;
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-repeat: repeat;
    /* background-position: 370px 20px; */
    color: #404040;
    font-family: Georgia, Garamond, sans-serif;
    font-size: 11pt;
  }

ul {
  list-style-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}

img.headericon{
    float: right; 
    width:130px;
}

div {
    border: 3px dotted green; overflow: hidden;
}

div #ad {
    position: fixed;
    right: 10%;
    top: 45%;
}

